@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Fonts */

.font {
    font-family: 'Pacifico', cursive;
}

/* Nav */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    background: #2E3090;
    padding: 1rem 1rem;
    color: white;
}

.whatfresh {
    color: #FEC321;
}

/* .HeroBg {
    background-image: url('../public/assets/background/cowsBg2.png');
    background-position: center center;
    background-size: cover;

} */

/* Footer */